/* 
color scheme:
#A67259
#598DA6

*/
body{
    display: grid;
    height:100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "scramble scramble"
    "times clock"
    "footer footer";
    background-color: #A67259;
}
#Scramble{
    display: grid;
    grid-area: scramble;
    background-color: #598DA6;
    box-shadow: 0 7px 8px -5px #333;
}
#Clock{
    grid-area: clock;
    text-align: center;
    margin-right: 15vw;
}
#Times{
    margin-right: auto;
     font-size: 40px;
    grid-area: times;
}
#footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    background-color: #598DA6;
    box-shadow: 0 -7px 8px -5px #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;

}
.stats{
    display: flex;
    margin: auto;
}
table, td{
    border: 1px solid;
    text-align: left;
    border-collapse: collapse;
}
#gen{
    background-color: #A67259;
    border-radius: 10px;
    height: 50%;
}
#letters{
    text-align: center;
}
#speed{
    font-size: 80px;
}
#settings{
    width: 8vw ;
    height:auto;
    margin-left: auto;
}